body {
  background-color: #444;
  color: white;
}
main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
}
main > section {
  width: 70%;
  margin: 0 auto 0 auto;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.skill-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  font-size: 5em;;
}
.skill-logo{
  margin: 5px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
#main-nav {
  margin-top: 0;
}
.ui.item.menu {
  background-color: #222;
}
.ui.item.menu > a{
  color: darkgray
}
.ui.item.menu > a:hover{
  color: red;
}
