body {
  background-color: #444;
  color: white;
}
main {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
a {
  color: red;
}
a:hover {
  color: red;
  text-decoration: underline;
}
main > section {
  width: 90%;
  margin: 0 auto 0 auto;
}
.App {
  text-align: center;
}
#welcome {
  display: flex;
  align-items: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
#technologies > h3 {
  float: left;
}
#resume >h3 {
  float: left;
  height: fit-content
}
.res-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.skill-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  font-size: 5em;;
}
.skill-logo{
  margin: 5px;
}
#social > h3 {
  float: left;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
#main-nav {
  margin-top: 0;
}
#bk-image {
  width: 25%;
  height: 25%;
  border-radius: 25px;
  margin: 10px;
}
.ui.item.menu {
  background-color: #222;
}
.ui.item.menu > a{
  color: darkgray
}
.ui.item.menu > a:hover{
  color: red;
}
@media screen and (min-width:768px) {
  #bk-logo {
    width: 10%;
  }
  #bk-image {
    width: 15%;
  }
}